
#navegacion{
    background-color: aqua;
}
#atm{
    color: blue;
}
#rm{
    color: blue;
}
#barsa{
    color: blue;
}
#rb{
    color: blue;
}
#h1{
    color: aqua;
}
#p{
    color: aqua;
}
#h2{
    color: aqua;
}
#h3{
    color: aqua;
}
#h4{
    color: aqua;
}
#h5{
    color: aqua;
}
#historia{
    color: pink;
}